@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-boottom: 15px;
  padding: 20 px;
}

.clear {
    clear: both;
}

.top-nav{
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  hight: 70px;
  padding-top: 15px;
}
.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}
