<br/><br/>
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 card form">

  <p><h2>Enter Your Gram Details</h2></p>
    <%= simple_form_for @gram do |f| %>
      <%= f.input :message %>
      <br />
        <%= f.submit "Post!", class: 'my-btn' %>
       <br />
       <br />
       <%= f.input :picture%>
       <br/>
    <% end %>
</div>